[submodule "marvel-service"]
	path = marvel-service
	url = https://github.com/Ezefalcon/marvel-service
[submodule "marvel-api"]
	path = marvel-api
	url = https://github.com/Ezefalcon/marvel-api
[submodule "marvel-ui"]
	path = marvel-ui
	url = https://github.com/Ezefalcon/marvel-ui
